/* Variables */

:root {
  --off-white: #f2f2fe;
  --dark-grey: #0f120f;
}

/* Main elements */

body {
  background-color: var(--off-white);
}

main {
  color: var(--dark-grey);
  margin: 0;
}

header {
  background-color: var(--dark-grey);
  color: var(--off-white);
  padding: 12px;
}

header::after {
  /* Oh boy, oh boy, oh boy, very hacky, Not a fan. TODO: Become a fan.*/
  content: "";
  clear: both;
  display: table;
}

footer {
  background-color: var(--dark-grey);
  color: var(--off-white);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Elements */

h1 {
  font-size: 23pt;
}

h2 {
  font-size: 18pt;
}

/* Classes */

.image {
  width: 180px;
  border: solid var(--dark-grey) 2px;
  margin: 0.2rem;
}

.hobby-list-element::before{
  content: "❧  ";
}

.footer-element-div {
  margin: 0.2rem;
}

/* Ids */

#title-div {
  float: left;
}

#date-div {
  float: right;
}

#hobby-list-div {
  padding: 6px;
}

#hobby-list-title {
  padding: 2px;
}
